:root {
    scroll-behavior: smooth;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

/* -------  Pseduoe   -------- */
nav ul a:hover {
    background-color: rgb(99, 142, 172);
    border-radius: 10px;
    color: rgb(79, 68, 68);
}

*::selection {
    background-color: rgba(159, 174, 243, 0.46);
}



/* -------  page  -------- */

body {

    background-image: url('image/background01.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* -------  navigation  -------- */

nav {
    background-color: rgba(135, 172, 198, 0.827);
    height: 8vh;:root {
    scroll-behavior: smooth;
    font-size: 16px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
    font-family: Arial, Helvetica, sans-serif;
}

/* -------  Pseudo   -------- */
nav ul a:hover {
    background-color: rgb(99, 142, 172);
    border-radius: 10px;
    color: rgb(79, 68, 68);
}

*::selection {
    background-color: rgba(159, 174, 243, 0.46);
}



/* -------  page  -------- */

body {

    background-image: url('image/background01.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/* -------  navigation  -------- */

nav {
    background-color: rgba(135, 172, 198, 0.827);
    height: 8vh;
    display: flex;
    align-items: center;
    border-radius: 0 0 8% 8%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
  
}

nav ul a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

/* -------  container  -------- */

/* -------  container 1  -------- */
.container-01 {
    /* background-color: whitesmoke; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-01 h1,p {
    font-size: 330%;
    color: rgb(255, 255, 255);
}
.container-01 h1{
    color: rgb(19, 58, 95); 
}

.container-01 p {
    text-align: center;
    color: rgb(23, 30, 77);
}

/* -------  container 2 -------- */
.container-02 {
    background-color: rgba(135, 172, 198, 0.935);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.container-02 .in-wraper-01 {
    /* background-color: yellow; */
    display: flex;
    align-items: center;
}

.container-02 .in-wraper-01 #boxes {
    width: 70px;
    height: 70px;
    background-color: black;
    border-radius: 10px;
}

.container-02 .in-wraper-01 .title {
    font-weight: bold;
    font-size: 3.5rem;
    margin-left: 30px;
    color: rgb(19, 58, 95);
}

.container-02 .in-wraper-02 .profile {
    margin-top: 10px;
    font-size: 1.3rem;
    color: rgb(23, 30, 77);
}

/* -------  Media Query  -------- */

/* Styles for screens smaller than 768px (mobile) */
@media only screen and (max-width: 767px) {

 .container-01 h1,p {
     font-size: 200%;
 }
 
 nav ul a:hover {
    background-color: rgba(99, 142, 172, 0.5);
}

container-02 .in-wraper-01 #boxes {
    width: 900px;
    height: 900px;
} 
} 



    display: flex;
    align-items: center;
    border-radius: 0 0 8% 8%;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    width: 100%;
  
}

nav ul a {
    text-decoration: none;
    color: white;
    padding: 5px;
}

/* -------  container  -------- */

/* -------  container 1  -------- */
.container-01 {
    /* background-color: whitesmoke; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-01 h1,p {
    font-size: 330%;
    color: rgb(255, 255, 255);
}

.container-01 p {
    text-align: center;
    color:rgb(81, 103, 80);
}

/* -------  container 2 -------- */
.container-02 {
    background-color: rgba(135, 172, 198, 0.935);
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.container-02 .in-wraper-01 {
    /* background-color: yellow; */
    display: flex;
}

.container-02 .in-wraper-01 #boxes {
    width: 70px;
    height: 70px;
    background-color: white;
    border-radius: 10px;
}

.container-02 .in-wraper-01 .title {
    font-weight: bold;
    font-size: 3.5rem;
    margin-left: 30px;
    color: rgb(19, 58, 95);
}

.container-02 .in-wraper-02 .profile {
    margin-top: 10px;
    font-size: 1.3rem;
    color: rgb(23, 30, 77);
}

/* -------  Media Query  -------- */

@media screen and (max-width: 768px) {
    
}
